/* Farben

Verlauf
#015799 - Dubnkles Blau
#0B96D5 - Helles Blau

*/
*{
  box-sizing: border-box;
}

/* prompt-200 - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/prompt-v2-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Prompt ExtraLight'), local('Prompt-ExtraLight'),
       url('../fonts/prompt-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/prompt-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/prompt-v2-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/prompt-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/prompt-v2-latin-200.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-regular - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/prompt-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Prompt'), local('Prompt-Regular'),
       url('../fonts/prompt-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/prompt-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/prompt-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/prompt-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/prompt-v2-latin-regular.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-600 - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/prompt-v2-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'),
       url('../fonts/prompt-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/prompt-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/prompt-v2-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/prompt-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/prompt-v2-latin-600.svg#Prompt') format('svg'); /* Legacy iOS */
}



/* Typografie */

body{
  font-family: 'Prompt', sans-serif;
  color: #ffffff;
}


h1, h2, h3, h4, h5{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

p{
  margin: 20px 0px 20px 0px;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
}

/* Abschnitt - Headlines */

h1.headline{
  margin: 60px auto;
  /* font-size: 150px; */
  /* line-height: 200px; */
}

.big_headline{
  /* font-size: 300px */
}

/* Kleiner */

h3{
  /* font-size: 100px; */
}



/* Icon */

h1.icon.big{
  /* font-size: 200px; */
}

/* Abschnitte */

body{
  background: #015799; /* Old browsers */
  background: -moz-linear-gradient(left, #015799 0%, #0b96d5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #015799 0%,#0b96d5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #015799 0%,#0b96d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015799', endColorstr='#0b96d5',GradientType=1 ); /* IE6-9 */
}

.section{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#015799+0,0b96d5+100 */
  background-color: none;
}


#section0 .slide.sofa{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-image: url(../img/dotswhite_sofa.png); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
}

.content{
  padding: 50px;
  margin: 0px auto;
}

.element{
  text-align: center;;
}

.element img{
  display: block;
}


/* Navigation */

.navigation{
  position: fixed;
  width: 100%;
  padding: 0px 20px;
  z-index: 200;
}

.navigation li{

}

.navigation a{
    font-weight: 200;
    color: #fff;
}

.nav-item{
  max-height: 50px;
}


/*Nav-Pfeile */


.fp-controlArrow {
    border: none;
    position: absolute;
    top: 95%;
    width: 32px!important; /* This can be added here so you don't have to set a width and height 2 times for each arrow, this will create one width for both arrows */
    height: 32px!important; /* This does the same as above */
    z-index: 4;
    cursor: pointer;
}

.fp-controlArrow.fp-prev {
    left:20px;
    background: url(../img/icons/links.png) no-repeat;
    background-size: contain;
}

.fp-controlArrow.fp-next {
    right:20px;
    background: url(../img/icons/rechts.png) no-repeat;
    background-size: contain;
}



/*Section About */

.intro .element img{
  max-width: 30px;
  margin: 0px auto;
}

/* Section Team */

.section-team .content{
  padding: 50px 30px;
height: 100%;
}

.section-team .content button{
  float: right;
  color: #fff;
  font-size: 30px;
  margin-right: 18%;
}

.section-team .content button:active{
  color: #333;
}

.section-team h2 , .section-kontakt h2{
  font-size: 50px;
  display: inline-block;
}

.team{
  margin-top: -70px;
  width: 100%;
}

.team .team-item {
  width: 50%;
  float: left;
}

.team .team-item:nth-of-type(odd) {
  top: 80px;
  position: relative;
}

/* Team Member */

.slide-team-member .fp-tableCell{
  vertical-align: bottom;
}

.lastname{
  font-size: 4.00rem;
}

.subline{
    font-size: 2.00rem;
}


.member-img{
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

.member-text{
  z-index: 5;
  position: absolute;
  bottom: 0px;
  margin-bottom: 120px;
}

.lastname, .subline{
    text-align: left;
    margin: 0px;
    line-height: 1.0;
}

.position{

}


/* Kontakt */

.section-kontakt .content{
  padding: 50px 30px;
  height: 100%;
}

.section-kontakt p{
  font-size: 14px;
  text-align: left;
}

.section-kontakt .bottom_nav{
  position: absolute;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 12px;
}

.section-kontakt .bottom_nav .part{
  margin-bottom: 20px;
}

.section-kontakt .bottom_nav a{
  font-weight: 200;
  color: #fff;
}
