/* Farben

Verlauf
#015799 - Dubnkles Blau
#0B96D5 - Helles Blau

*/
*{
  box-sizing: border-box;
}

/* prompt-200 - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/prompt-v2-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Prompt ExtraLight'), local('Prompt-ExtraLight'),
       url('../fonts/prompt-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/prompt-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/prompt-v2-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/prompt-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/prompt-v2-latin-200.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-regular - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/prompt-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Prompt'), local('Prompt-Regular'),
       url('../fonts/prompt-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/prompt-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/prompt-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/prompt-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/prompt-v2-latin-regular.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-600 - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/prompt-v2-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'),
       url('../fonts/prompt-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/prompt-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/prompt-v2-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/prompt-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/prompt-v2-latin-600.svg#Prompt') format('svg'); /* Legacy iOS */
}



/* Typografie */

body{
  font-family: 'Prompt', sans-serif;
  color: #ffffff;
}


h1, h2, h3, h4, h5{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

p{
  margin: 20px 0px 20px 0px;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}

/* Abschnitt - Headlines */

h1.headline{
  margin: 0px auto;
  /* font-size: 150px; */
  /* line-height: 200px; */
}

.big_headline{
  /* font-size: 300px */
}

/* Kleiner */

h3{
  /* font-size: 100px; */
}



/* Icon */

h1.icon.big{
  /* font-size: 200px; */
}

/* Abschnitte */

body{
  background: #015799; /* Old browsers */
  background: -moz-linear-gradient(left, #015799 0%, #0b96d5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #015799 0%,#0b96d5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #015799 0%,#0b96d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015799', endColorstr='#0b96d5',GradientType=1 ); /* IE6-9 */
}

.section{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#015799+0,0b96d5+100 */
  background-color: none;
}


#section0 .slide.sofa{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-image: url(../img/dotswhite_sofa.png); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
}

.content{
  padding: 50px;
  margin: 0px auto;
}

.element{
  text-align: center;;
}

.element img{
  display: block;
}


/* Navigation */

.navigation{
  position: fixed;
  width: 100%;
  padding: 0px 20px;
  z-index: 200;
}

.navigation li{

}

.navigation a{
    font-weight: 200;
    color: #fff;
}

.nav-item{
  max-height: 50px;
}


/*Nav-Pfeile */

.fp-controlArrow{
  top: 90%;
}

.fp-controlArrow::before{
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}


.fp-next:before {
	left: 0;
	transform: rotate(45deg);
}

.fp-slidesNav{

}

/* Section Team */

.section-team .content{
  padding: 20px;
}

.section-team .content button{
  float: right;
  color: #fff;
  font-size: 30px;
  margin-right: 18%;
}

.section-team .content button:active{
  color: #333;
}

.section-team h2{
  font-size: 50px;
  display: inline-block;
}

.team{
  margin-top: -50px;
  width: 100%;
}

.team .team-item {
  width: 50%;
  float: left;
}

.team .team-item:nth-of-type(odd) {
  top: 50px;
  position: relative;
}
